/* <!-- Custom CSS --> */
.compare-packages table thead th {
    border-bottom: 2px solid #dee2e6;
    vertical-align: middle;
    font-size: 20px;
    color: #ff9800;
}
.compare-packages table thead th p {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.compare-packages table td {
    text-align: center;
}
.compare-packages table td:first-child {
    text-align: left;
}
.compare-packages table tr:last-child td {
    font-weight: bold;
    line-height: 40px;
    font-size: 20px;
}